.About-under-construction-wrapper {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width: 75%;
    margin-left: 12.5%;
    margin-top: 12.5%;
    margin-bottom: 12.5%;
    align-content: center;
    padding: 4vmax;
    background-color: #ee9ef5;
    border-radius: 3vmax;
    border: solid 1vmax #aa43ca;
}
.About-under-construction-text {
    text-align: center;
    font-size: 4vmax;
    font-weight: bold;
    margin: 0px;
}

.About-wrapper {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width: 85%;
    margin: 1% 7.5% 7.5% 7.5%;
}

.About-gabriel-image-wrapper {
    height: 50vh;
    width: 50vh;
    margin: auto;
    margin-bottom: .5vmax;
}
.About-gabriel-image {
    max-width: 100%;
    max-height: 100%;
    border: #163c4e solid 0.5vmax;
    border-radius: 2vmax 2vmax 2vmax 2vmax;
    align-content: center;
}

.About-text-wrapper {
    width: 100%;
    margin: auto;
    border: #163c4e solid 0.5vmax;
    border-radius: 2vmax;
    background-color: #65afd1;
}
.About-text {
    font-size: 1.5vmax;
    margin: 2.5%;
    /* white-space: pre-line; */
}