.SideNav-wrapper {
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0px;
    position: fixed;
    transition: left .5s;
}
.SideNav-wrapper:hover {
    left: 250px;
}
.SideNav-tab {
    width: 50px;
    height: 100%;
    border-radius: 0px 40px 40px 0px;
    top: 0px;
    left: 0px;
    z-index: inherit;
    position: absolute;
    background-color: #1d2f4d;
    align-content: center;
}
.SideNav-tab-icon {
    width: 80%;
    padding: 10%;
}
.SideNav-list {
    width: 250px;
    height: 100%;
    position: absolute;
    padding-top: 32px;
    z-index: inherit;
    top: 0px;
    left: -250px;
    overflow-x: hidden;
    background-color: #4e6180;
}
.SideNav-list a {
    padding: 32px 32px;
    text-align: right;
    text-decoration: none;
    font-size: 35px;
    color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    display: block;
}
/* Change the color of links on hover */
.SideNav-list a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.SideNav-list a.active {
    background-color: #98b9c9;
    color: rgb(0, 0, 0);
}